.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include wrapper(1120px, 0);
  font-family: $font-family-secondary;

  &__logo {
    width: 18%;
    margin-left: auto;
  }

  &__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    list-style: none;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px black;

    &-item {
      align-self: center;
    }

    &-link {
      text-decoration: none;
      font-size: 3rem;
      color: #ffffff;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    margin: 100px auto;
    background-color: $light-color;

    &-link {
      text-decoration: none;
      font-size: 1.4rem;
    }

    &-text {
      margin-right: 5px;
    }

    &-hamburger {
      position: fixed;
      right: 10px;
      top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border: none;
      width: 40px;
      height: 35px;


      &-item {
        width: 25px;
        height: 2px;
        background-color: #000;
      }

    }
  }
}

.hidden {
  //display: none;
}
